/*Обнуление*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;cursor: pointer;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*----------------*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

a, a:visited{
    color:#21243D;
}
a:hover{
    color:#FF6464;
}
body {
    color: #21243D;
    font-family: 'Heebo';
    font-weight: 400;    
}
.container{
    max-width: 886px;
    padding: 0 15px;
    height: 100%;
    margin: 0 auto;

}
.header {
    max-width: 1058px;
    padding: 32px 15px;
    margin: 0 auto;

    &__nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        li {
        padding: 0 0 0 16px;
        }
    }
}

.hi {
    padding: 140px 0 70px 0;
    @media(max-width: 576px){
        flex: 0 0 90%;
        margin-right: 15px;
        padding: 35px 0 65px 0;
    }
    &_flex {
        display: flex;
        @media(max-width: 576px){
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__info {
        margin-right: 115px;
        @media(max-width: 768px){
            margin-right: 50px;
        }
        @media(max-width: 576px){
            margin-right: 0;
            text-align: center;
        }
    }
    &__title {
        padding-top: 15px;
        font-weight: 700;
        font-size: 44px;
        line-height: calc(60px / 44px * 100%);
        @media(max-width: 576px){
            margin-top: 32px;
        }
    }
    &__text {
        padding-top: 28px;
        font-size: 16px;
        line-height: calc(24px / 16px * 100%);
    }
    &__button {
        margin-top: 38px;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        width: 208px;
        height: 47px;
        background: #FF6464;
        border-radius: 2px;
    }
    &__avatar {
        flex: 0 0 253px;
        height: 253px;
        border-radius: 50%;
        box-shadow: -15px 15px #EDF7FA;
    }
}

.block-2 {
    width: 100%;
    background-color: #EDF7FA;
    padding: 32px 0;
    &__title-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
    }
    &__title {
        font-size: 22px;
    }

    &__view {
        font-size: 16px;
        color: #00A8CC;
    }
}
.posts {
    display: flex;
    justify-content: space-between;
    @media(max-width: 576px){
        overflow: auto;
    }
}
.post {
    flex: 0 1 49%;
    background-color: #FFFFFF;
    padding: 21px;
    @media(max-width: 576px){
        flex: 0 0 90%;
        margin-right: 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
    }
    &__date-subtitle {
        margin: 25px 0;
        display: flex;
        align-items: center;
    }
    &__date {
        font-size: 18px;
        line-height: 26px;
    }
    &__icon {
        width: 1.5px;
        height: 21px;
        background-color: #21243D;
        margin: 0 20px;
        @media(max-width: 768px){
            margin: 0 10px;
        }
    }
    &__subtitle {
        font-size: 18px;
        line-height: 26px;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
    }
}
.works {
    padding-bottom: 60px;
    &_flex {
        @media(max-width: 576px){
        display: flex;
        overflow: auto;
        }
    }
    &__title {
        font-size: 22px;
        padding: 38px 0 0;
    }
}


.work {
    display: flex;
    padding: 32px 0;
    border-bottom: 1px solid rgb(224,224,224);
    @media(max-width: 576px){
        flex-direction: column;
        align-items: center;
        flex: 0 0 90%;
        margin-right: 15px;
    }
    &__img-container{
        flex: 0 0 246px;

        @media(max-width: 576px){
            width: 100%;
        }
    }
    &__img {
        width: 100%;
        & img {
            width: 100%;
        }
    }
    &__info {
        margin-left: 18px;
        @media(max-width: 576px){
            margin-left: 0;
            padding-top: 23px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__year {
        display: inline-block;
        font-weight: 900;
        font-size: 18px;
        color: #FFFFFF;
        background-color: #142850;
        border-radius: 16px;
        text-align: center;
        padding: 4px 11px;
        margin-right: 24px;
    }

    &__subname {
        display: inline-block;
        font-size: 20px;
        color: #8695A4;
    }

    &__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }
}   
.footer {
    padding: 51px 0 51px 0;
    text-align: center;
    &__social {
        margin-bottom: 30px;
        & img {
            display: inline-block;
            margin: 0 17px 0 17px;
        }
    }
    &__copyright {
        text-align: center;
        font-size: 14px;
    }
}
